<div class="loggedin-wrap">

  <!--navbar-->
  <div class="loggedin-nav-bar">
    <header>
      <div class="img-box">
        <a ui-sref="home"><img src="https://i.stack.imgur.com/w0e1N.png"></a>
      </div>
      <div class="column-align">
        <div class="loggedin-nav-title">
          <h3>I am here as a :</h3>
        </div>
        <nav>
          <div class="loggedin-nav-tabs">
            <div>
              <li style="font-size:30px" ui-sref="mom">Mom</li>
            </div>
            <div class="friend">
              <li style="font-size:30px" ui-sref="friend">Friend</li>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </div>

  <!--body-->

  <div class="friend-wrap">
    <div class="inner-wrap">
      <div class="title">
        <h3>Friends I've Helped</h3>
      </div>
      <div class="content">

      </div>

    </div>

    <div class="break-line"></div>

    <div class="inner-wrap">
      <div class="title">
        <h3>Mommin' Aint Easy So Help a Mother Out</h3>
      </div>
      <div class="search-bar">
        <input type="text">
      </div>
      <div class="content">
        <div class="col-content">
          <div class="money">
            <div class="title">
              <p>Donate towards her wishlist</p>
            </div>
            <div class="graphics">
              <div class="graph"></div>
              <div class="amount">
                <button class="donate-button">Click here to make donation</button>
              </div>
            </div>
          </div>
          <div class="time">
            <div class="volunteer">
              <div class="title">
                <p>Sign up to:</p>
              </div>
              <div class="donate-list">
                <ul>
                  <li>deliver meals</li>
                  <li>walk the dog</li>
                  <li>babysit</li>
                  <li>oragnize movie night</li>
                  <li>and more...</li>
                </ul>
              </div>
              <div class="calendar-button-wrap">
                <button class="calendar-button">Click to view calendar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="break-line"></div>

    <div class="inner-wrap">
      <div class="title-wrap">
        <div class="title">
          <h3>Connect with Moms through Shared Experiences</h3>
        </div>
        <div class="joy-quote">
          <p class="quote">Shared joy is double joy, shared sorrow is half sorrow.</p>
          <p class="credit">Swedish Proverb</p>
        </div>
      </div>
      <div class="content">
<div class="col-content">
          <div class="money">
            <div class="title">
              <p>Checklist of Experiences</p>
            </div>
            <div class="checkin-instructions">
              <p>Only check experiences you are willing to share with others.</p><br>
              <p>If a mom you are connected with also checks a similar experience, your name will be sent to her as someone she can reach out to for support.</p>
            </div>
            <div class="graphics">
              <div class="graph"></div>
              <div class="amount">
                <br><friend-checkin></friend-checkin>
              </div>
            </div>
          </div>
          <div class="time">
            <div class="volunteer">
              <div class="title">
                <p>Put a Smile on Your Friends Face</p>
              </div>
              <div class="friend-message">
                <textarea name="paragraph_text" cols="50" rows="15"></textarea>
              </div>
              <div class="calendar-button-wrap">
                <button class="calendar-button">Send Message</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>