<div class="loggedin-wrap">

  <!--navbar-->
  <div class="loggedin-nav-bar">
    <header>
      <div class="img-box">
        <img src="https://i.stack.imgur.com/w0e1N.png" ui-sref="home">
      </div>
      <div class="column-align">
        <div class="loggedin-nav-title">
          <h3>I am here as a :</h3>
        </div>
        <nav>
          <div class="loggedin-nav-tabs">
            <div>
              <li style="font-size:30px"><a ui-sref="mom">Mom</a></li>
            </div>
            <div class="friend">
              <li style="font-size:30px"><a ui-sref="friend">Friend</></li>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </div>

  <!--body-->
<div>
<div>
</div>
</div>

<div class="loggedin-wrap">
{{test}}
  <div class="friend-map">
    <div class="title">
      <h3>Friends I've Helped</h3>
    </div>
    <div class="map">

    </div>

  </div>

  <div class="friend-donate">
    <div class="title">
      <h3>Mommin' Aint Easy So Help a Mother Out</h3>
    </div>
    <div class="search-bar">

    </div>
    <div class="submit-box">
      <div class="money"></div>
      <div class="time"></div>
    </div>

  </div>

</div>
</div>