<div class="loggedin-wrap">

<!--navbar-->
 <li><a ui-sref="login">Log In</a></li>
  <div class="loggedin-nav-bar">
    <header>
      <div class="img-box">
        <img src="https://i.stack.imgur.com/w0e1N.png" ui-sref="home">
      </div>
      <div class="column-align">
        <div class="loggedin-nav-title">
          <h3>I am here as a :</h3>
        </div>
        <nav>
          <div class="loggedin-nav-tabs">
            <div>
            <li style="font-size:30px"><a ui-sref="mom">Mom</a></li>
            </div>
            <div class="friend">
            <li style="font-size:30px"><a ui-sref="friend">Friend</></li>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </div>

  <!--body-->
<ui-view></ui-view>
</div>