<div>

  <div class="home-page-top-section fixed-nav-bar">
    <!--navbar-->
    <header>
      <nav>
        <li ui-sref="home">Home</li>
        <li ui-sref="signup">Sign Up</li>
        <li ui-sref="login">Log In</li>
      </nav>
    </header>
  </div>

  <div class="intro-image-box-login">
    <div class="form-div">
      <form class="form" ng-submit="login(user)">
        <div class="imgcontainer">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTfQHz5SlajCOKBfq4Jmv1YZXsrOHXXinSv-jXoTnAJ-DPk3fy0wGpxxo" alt="Avatar" class="avatar">
        </div>

        <div class="container">
          <label><b>Username</b></label>
          <input type="text" ng-model="user.username" placeholder="Enter Username" required>

          <label><b>Password</b></label>
          <input type="password" ng-model="user.password" placeholder="Enter Password" required>

          <button type="submit">Login</button>
          <input type="checkbox" checked="checked"> Remember me
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>
  </div>

</div>