{{test}}
<div class- "mom-wrapper">

  <!--navbar-->
  <div class="loggedin-nav-bar">
    <header>
      <div class="img-box">
        <a ui-sref="home"><img src="https://i.stack.imgur.com/w0e1N.png"></a>
      </div>
      <div class="column-align">
        <div class="loggedin-nav-title">
          <h3>I am here as a :</h3>
        </div>
        <nav>
          <div class="loggedin-nav-tabs">
            <div>
              <li style="font-size:30px" ui-sref="mom">Mom</li>
            </div>
            <div class="friend">
              <li style="font-size:30px" ui-sref="friend">Friend</li>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </div>

  <!--body-->

  <div class="mom-wrap">
    <div class="inner-wrap">
      <div class="title">
        <h3>My Village</h3>
      </div>
      <div class="content">

      </div>

    </div>

    <div class="break-line"></div>

    <div class="inner-wrap">
      <div class="title">
        <h3>Make a Wish and Feel the Love</h3>
      </div>

      <div class="content">
        <div class="col-content">
          <div class="money">
            <div class="title">
              <p>Check all items that sound wonderful to you:</p>
            </div>
            <div class="graphics">
              <div class="checklist"></div>

            </div>
          </div>
          <div class="time">
            <div class="volunteer">
              <div class="title">
                <p>Get Ready to Relax</p>
              </div>
              <div class="donate-mom-graph">
                
              </div>
              
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="break-line"></div>

    <div class="inner-wrap">
      <div class="title-wrap">
        <div class="title">
          <h3>Connect with Women Who Have Had Similar Experiences</h3>
        </div>
        <div class="joy-quote">
          <p class="quote">Shared joy is double joy, shared sorrow is half sorrow.</p>
          <p class="credit">Swedish Proverb</p>
        </div>
      </div>
      <div class="content">
        <div class="col-content">
          <div class="money">
            <div class="title">
              <p>I would like support with:</p>
            </div>
            <div class="graphics">
              <br><check-in></check-in>
            </div>
          </div>
          <div class="friend-connections">
            <div class="friend-connect">
              <div class="title">
                <p>Friends who have experienced something similar and would love to connect with you:</p>
              </div>
              <div class="list">
                <div class="names">

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="break-line"></div>

    <div class="inner-wrap">
      <div class="title">
        <h3>Encouragement, Advice, Funny Stories...</h3>
      </div>
      <div class="content">

      </div>
    </div>

  </div>