<div class="services-wrap montserrat">
                <label ng-repeat="service in services">
  <input type="checkbox" checklist-model="wishes.services" checklist-value="service" ng-click="wish(service)">
  {{ service }}<br>
</label>
    </div>



<!--<input type="checkbox" ng-model="services.cleaningService"><label>Cleaning Service</label><br>
<input type="checkbox" ng-model="services.prenatalMassage"><label>Prenatal Massage</label><br>
<input type="checkbox" ng-model="services.postnatalMassage"><label>Postnatal Massage</label><br>
<input type="checkbox" ng-model="services.lactationConsultant"><label>Lactation Consultant</label><br>
<input type="checkbox" ng-model="services.doula"><label>Doula</label><br>
<input type="checkbox" ng-model="services.pedicure"><label>Pedicure</label><br>
<input type="checkbox" ng-model="services.manicure"><label>Manicure</label><br>-->



          