.loggedin-wrap {
  width: 100%;
  height: 100vh;
  background-color: yellow;
}

.loggedin-nav {
  display: flex;
  justify-content: space-around;
}

.loggedin-nav-tabs {
  display: flex;
  // flex-direction: row;
  // justify-content: space-around;
}

